/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-active {
      color: #42b983;
    }
  }
}

#query {
  width: 400px;
	padding: 10px;
	font-size: 120%;
	border-radius: 0px;
	border: 1px solid var(--seethrough-black);
  box-shadow: inset 0 0 7px var(--seethrough-black);
  box-sizing: border-box;
}

.searchForm {
  margin-bottom:15px;
}

.searchForm #querySubmit {
  box-sizing: border-box;
  width:60px;
  cursor:pointer;
  height:44px;
  vertical-align: top;;
  background-color:var(--main-highlight-color);
  box-shadow: inset 0 0 7px var(--seethrough-black);
  border-radius:0% 0 0% 0;
  border:1px solid transparent;
  //border-color:var(--seethrough-black) var(--seethrough-black) var(--seethrough-black) transparent;
}

.searchForm #magnifyingGlass {
  position: relative;
  left:7px;
}

.searchForm #magnifyingGlass:before {
  content: '';
	display: block;
	width: 15px;
	height: 15px;
	top: 2px;
	left: 3px;
	position: relative;
	border: 2px solid white;
  border-radius: 180%;
}

.searchForm #magnifyingGlass:after {
  content: '';
	display: block;
	width: 2px;
	height: 15px;
	background-color: white;
	top: -4px;
	left: 23px;
	transform: rotateZ(-45deg);
	position: relative;
}

.searchForm #clearSubmit {
  position: absolute;
	width: 50px;
	height: 44px;
  border-radius: 0px;
  box-shadow: inset 0 0 7px var(--seethrough-black);
	box-sizing: border-box;
	border: 1px solid var(--seethrough-black);
  color: var(--main-highlight-color);
  background-color: var(--secondary-highlight-color)
}

.searchForm #query {
  margin-bottom:15px;
}

.searchForm p {
  color:var(--seethrough-black);
}

.searchForm input[type=text]:focus {
  outline-color: var(--main-highlight-color);
  outline-style: inset;
  outline-offset: -1px;
}

#nav a {
  text-decoration: none;
  border-bottom:2px solid var(--secondary-highlight-color);
  font-weight: initial;
}

#nav a.router-link-active { 
  color: var(--main-highlight-color);
  border-bottom:0px;
  text-decoration: none;
  font-weight: bold;
}

.spinner {
  position: absolute;
  top:0px;
  left:0px;
  background-color: rgba(30, 30, 30, 0.7);
  width:100vw;
  height:100vh;
  overflow:hidden;
  z-index:10;
}

.spinnerContainer {
  width:230px;
  height:200px;
  position: relative;
  margin-top:calc(50vh - 115px);
  margin-left:calc(50vw - 115px);
  animation: colorChange 6s infinite ease-in-out 0s;
}

.spinner .dot:nth-child(1) { --nth-child: 0; --nWidth:0px; }
.spinner .dot:nth-child(2) { --nth-child: 1; --nWidth:2px; }
.spinner .dot:nth-child(3) { --nth-child: 2; --nWidth:4px; }
.spinner .dot:nth-child(4) { --nth-child: 3; --nWidth:6px; }
.spinner .dot:nth-child(5) { --nth-child: 4; --nWidth:8px; }
.spinner .dot:nth-child(6) { --nth-child: 5; --nWidth:10px; }
.spinner .dot:nth-child(7) { --nth-child: 6; --nWidth:12px; }
.spinner .dot:nth-child(8) { --nth-child: 7; --nWidth:14px; }
.spinner .dot:nth-child(9) { --nth-child: 8; --nWidth:16px; }
.spinner .dot:nth-child(10) { --nth-child: 9; --nWidth:18px; }
.spinner .dot:nth-child(11) { --nth-child: 10; --nWidth:20px; }
.spinner .dot:nth-child(12) { --nth-child: 11; --nWidth:22px; }
.spinner .dot:nth-child(13) { --nth-child: 12; --nWidth:24px; }
.spinner .dot:nth-child(14) { --nth-child: 13; --nWidth:26px; }
.spinner .dot:nth-child(15) { --nth-child: 14; --nWidth:28px; }

.spinner .dot {
  position: absolute;
  height:30px;
  width:30px;
  left: 100px;
	top: 100px;
  animation: infinitySpinnerX 3s infinite calc(var(--nth-child) * 0.1s);
}

.chartContainer {
  min-width: 500px;
	width: 90vw;
	position: relative;
	margin: auto;
	max-height: 600px;
	overflow: hidden;
	overflow-x: hidden;
	padding: 0px;
}

.spinner .dot:after {
  position:Absolute;
  content:'';
  height:calc(30px - var(--nWidth));
  width:calc(30px - var(--nWidth));
  background-color:var(--main-highlight-color);
  left:0px;
  top:0px;
  border-radius: 180px;
  //box-shadow: 0px 0px 5px 0px var(--secondary-highlight-color);
  opacity:calc(1 - (var(--nth-child)/14));
  animation: infinitySpinnerY 3s infinite calc(var(--nth-child) * 0.1s);
}

@keyframes colorChange {
  0% {
    filter: invert(0) blur(5px);
  }
  50% {
    filter: invert(1) blur(5px);
  }
  100% {
    filter: invert(0) blur(5px);
  }
}

@keyframes infinitySpinnerX {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(0px);
  }
  12.5% {
    animation-timing-function: ease-out;
    transform: translateX(50px);
  }
  25% {
    animation-timing-function: ease-in;
    transform: translateX(100px);
  }
  37.5% {
    animation-timing-function: ease-out;
    transform: translateX(50px);
  }
  50% {
    animation-timing-function: ease-in;
    transform: translateX(0px);
  }
  62.5% {
    animation-timing-function: ease-out;
    transform: translateX(-50px);
  }
  75% {
    animation-timing-function: ease-in;
    transform: translateX(-100px);
  }
  87.5% {
    animation-timing-function: ease-out;
    transform: translateX(-50px);
  }
  100% {
    animation-timing-function: ease-in;
    transform: translateX(0px);
  }
}


@keyframes infinitySpinnerY {
  0% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  12.5% {
    animation-timing-function: ease-in;
    transform: translateY(-50px);
  }
  25% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  37.5% {
    animation-timing-function: ease-in;
    transform: translateY(50px);
  }
  50% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  62.5% {
    animation-timing-function: ease-in;
    transform: translateY(-50px);
  }
  75% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  87.5% {
    animation-timing-function: ease-in;
    transform: translateY(50px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
}
